
<div class="row profile">
    <div class="col-sm-4 col-md-3">
        
        <h1><li><%= @user.name %></li></h1>
        <ul>
            <%= content_tag(:li, ("Name: " + @user.name)) unless @user.name.blank? %>
            <%= content_tag(:li, ("Age: " + distance_of_time_in_words(Time.now, @user.date_of_birth) + " old")) unless @user.date_of_birth.blank? %>

        </ul>
    </div>

    <div class="feed">
       
        
        
        <% @user.posts.each do |p| %>
            

            <% if p.user_id == @user.id %>
            
            <li>
                <h3><%= link_to p.title, post_path(p.id) %></h3>
                <p><%= p.body %></p>
                <p><small><strong>By: </strong><%= p.user.email %></small></p>
            </li>
            <% end%>
        <% end %>
        
    </ul>



    </div>
</div>




